 
<div class="container">
 <div class="col-md-12" id="login">
    <div class="col-md-12 text-center" >
        <img class="logo-container" src="images/logo.png">
    </div>
    <h3 class="text-center text-white pt-5">Login form</h3>
      <form class="form-signin" id="signin">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="username" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block login-btn" type="button">Sign in</button>
      </form>
   </div>
</div>