 <script src="js/route.js"></script>
<div class="container">
      <!-- Example row of columns -->
      <div class="row">
          <h3 class="text-center">ADMIN</h3>
         <div class="col-md-3">
             <form>
                  <div class="checkbox"> 
                      <label> 
                          <input type="checkbox" value=""> Select All
                      </label> 
                  </div>
                  <div class="checkbox"> 
                      <label> 
                          <input type="checkbox" value=""> User1
                      </label> 
                  </div>
                  <div class="checkbox"> 
                      <label> 
                          <input type="checkbox" value=""> User2
                      </label> 
                  </div>
                 <div class="checkbox"> 
                      <label> 
                          <input type="checkbox" value=""> User3
                      </label> 
                  </div>
                   <div class="checkbox"> 
                      <label> 
                          <input type="checkbox" value=""> User4
                      </label> 
                  </div>
          </form>
             
          </div>
          <div class="col-md-3">
              <p>Drop Location</p>
               <p>Address1</p>
               <p>Address2</p>
               <p>Address3</p>
          </div>
          <div class="col-md-3">
              <p>Board</p>
              <div class="checkbox"> 
                      <label> 
                          <input type="checkbox" value="">
                      </label> 
                </div>
              <div class="checkbox"> 
                      <label> 
                          <input type="checkbox" value="">
                      </label> 
                </div>
              <div class="checkbox"> 
                      <label> 
                          <input type="checkbox" value="">
                      </label> 
                </div>
              <div class="checkbox"> 
                      <label> 
                          <input type="checkbox" value="">
                      </label> 
                </div>
          </div>
          <div class="col-md-3">
              <p>Deboard</p>
              <div class="checkbox"> 
                      <label> 
                          <input type="checkbox" value="">
                      </label> 
                </div>
              <div class="checkbox"> 
                      <label> 
                          <input type="checkbox" value="">
                      </label> 
                </div>
              <div class="checkbox"> 
                      <label> 
                          <input type="checkbox" value="">
                      </label> 
                </div>
              <div class="checkbox"> 
                      <label> 
                          <input type="checkbox" value="">
                      </label> 
                </div>
          </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default pull-left" type="submit">Start Ride</button>
            <button class="btn btn-default pull-right" type="submit">Track Trip</button>
        </div>
    </div>
</div>